.config/ipython/profile_default/*
!.config/ipython/profile_default/ipython_config.py
.config/lazygit/state.yml
.config/mpv/playlists

.local/bin/*
!.local/bin/cron/
!.local/bin/bspswap
!.local/bin/dmenumount
!.local/bin/dmenupass
!.local/bin/flix
!.local/bin/hover
!.local/bin/imgpassthrough
!.local/bin/lines_per_directory
!.local/bin/maimpick
!.local/bin/ResetArch
!.local/bin/RiceArch
!.local/bin/snapper-rollback
!.local/bin/sysclean.sh
