.config/ncmpcpp/lyrics/
.config/ncmpcpp/error.log
.config/ipython/profile_default/db/
.config/ipython/profile_default/log/
.config/ipython/profile_default/pid/
.config/ipython/profile_default/security/
.config/ipython/profile_default/startup/
.config/ipython/profile_default/history.sqlite
.config/nvim/plugin
.config/zsh/.zcompdump
