[submodule ".config/_gitmodules/mpv-gallery-view"]
	path = .config/_gitmodules/mpv-gallery-view
	url = https://github.com/occivink/mpv-gallery-view

[submodule ".config/_gitmodules/retronvim"]
	path = .config/_gitmodules/retronvim
	url = https://github.com/yeferyv/retronvim

[submodule ".config/_gitmodules/fast-syntax-highlighting"]
	path = .config/_gitmodules/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule ".config/_gitmodules/zsh-autosuggestions"]
	path = .config/_gitmodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
